:root{
 --text--dark:#fff;
 --bgc--dark:#000;
}
.whitemode{
    
 --text--dark:#000;
 --bgc--dark:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--bgc--dark);
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
}
.container nav img{
    width: 150px;
}
.container nav ul li{
    display: inline;
}
.container nav ul li a{
    color: var(--text--dark);
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    padding: 4px 12px;
    border: 2px solid transparent;
    border-radius: 23px;
}
.container nav ul li .active{
    border: 2px solid rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}
.container nav ul li a:hover{
    border: 2px solid rgb(122, 122, 122);
    color: rgb(122, 122, 122);
}
.container nav ul i{
    font-size: 20px;
    color: var(--text--dark);
    cursor: pointer;
}
.container .contant{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .contant  .item{
    position: relative;
    width: 60%;
}
.container .contant h1{
    color: var(--text--dark);
    font-size: 50px;
    line-height: 70px;   
    display: inline-block;
    margin-bottom: 50px;
}

.container .contant h1 span{
    letter-spacing: 5px;
    color: transparent;
    font-family: cursive;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(85, 37, 133);
}
.container .contant p{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: var(--text--dark);
}
.container .contant img{
    height: 500px;
    margin: auto;
}
 /* for responsiveness */
@media  only screen and (max-width:950px) {
    .container{
        height: 100%;
    }
    .container .contant{
        flex-direction: column-reverse
    }
    .container .contant .item{
        text-align: center;
        width: 100%;
    }
    .container .contant .item h1{
        margin: 10px;
    }
    .container nav ul{
        display: none;
    }
}

@media  only screen and (max-width:550px){
    .container .contant{
        padding: 10px;
    }
    .container .contant .item h1{
        font-size: 40px;
}
}